body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(#87ceeb, #E0F6FF);
}

.container {
    text-align: center;
}

.table {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    background: linear-gradient(#33a9d8, #E0F6FF);
    max-width: 300px;
    margin: 0 auto;
}

.title {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
button {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    color: #333;
}